* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background:#1A1A1A;
    color: white;
}

nav {
    width: 1550px;
    padding: 20px 50px;
    background: rgba(255, 255, 255, 0.85);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.logo {
    font-size: 28px;
    font-weight: 700;
    color: rgb(132, 74, 74);
}

.links {
    display: flex;
    list-style: none;
    gap: 40px;
}

.links a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: 0.3s;
}

.links a:hover {
    color: rgb(78, 68, 211);
}


.about-section {
    width: 100%;
    padding: 60px;
}

.title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 60px;
    padding: 20px;
}

.about-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: flex-start;
}

.image-box img {
    width: 340px;
    height: 370px;
    border-radius: 15px;
    object-fit: cover;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.4);
}

.about-content {
    max-width: 600px;
}

.sub-title {
    font-size: 28px;
    margin-bottom: 15px;
}

.about-text {
    line-height: 1.6;
    margin-bottom: 20px;
    color:wheat;
}

.info-card {
    width: 45%;
    background: rgba(255, 255, 255, 0.15);
    padding: 25px;
    margin: 40px auto;
    border-radius: 14px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.3);
}

.info-row {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.info-row:last-child {
    border-bottom: none;
}
.footer {
    background: black;
    color: white;
    padding:20px;
    margin-top: -50px;
}

.footer-container {
    width: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
}

.footer .name {
    font-size: 26px;
    color: rgb(215, 146, 157);
}

.footer .tagline {
    margin-bottom: 20px;
    color: rgb(214, 79, 79);
}

.info {
    margin: 15px 0;
    color: pink;
}

.contactinfo, .connectlinks, .quicklinks {
    list-style: none;
    margin-top: 10px;
}

.contactinfo li,
.connectlinks li,
.quicklinks li {
    margin: 8px 0;
}

.connectlinks a,
.quicklinks a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.connectlinks a:hover,
.quicklinks a:hover {
    color: rgb(80, 80, 138);
}

