* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:#1A1A1A;
    font-family: 'Poppins', sans-serif;
    color: black;
}

nav {
    width: 100%;
    padding: 20px 50px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.logo {
    font-size: 32px;
    font-weight: 700;
    color: rgb(215, 146, 157);
}

.links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.links a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: 0.3s;
}

.links a:hover {
    color: rgb(79, 41, 169);
}

.login {
    text-align: center;
    margin-top: 40px;
}

.input {
    font-size: 38px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.container {
    width: 40%;
    margin: 40px auto;
    padding: 30px;
    border-radius: 15px;
   background-color: #383232;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container label {
    font-size: 18px;
    font-weight: 600;
}

.container input {
    padding: 12px 15px;
    border-radius: 10px;
    border: 2px solid rgb(215, 146, 157);
    outline: none;
    font-size: 16px;
    transition: 0.3s;
}

.container input:focus {
    border-color: black;
}

.btn {
    background: rgb(80, 73, 73);
    color: white;
    padding: 14px;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: black;
}

.footer {
    background: black;
    color: white;
    padding: 40px 20px;
    margin-top: 50px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
}

.name {
    font-size: 28px;
    color: rgb(215, 146, 157);
}

.tagline {
    margin: 10px 0;
}

.info {
    margin-top: 20px;
    font-size: 20px;
}

.contactinfo,
.connectlinks,
.quicklinks {
    list-style: none;
    margin-top: 10px;
}

.contactinfo li,
.connectlinks li,
.quicklinks li {
    margin-bottom: 10px;
}

.quicklinks a,
.connectlinks a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.quicklinks a:hover,
.connectlinks a:hover {
    color: rgb(85, 40, 151);
}
