* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color:#1A1A1A;
}

nav {
    width: 100%;
    padding: 20px 50px;
    background: rgba(255, 255, 255, 0.85);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.logo {
    font-size: 28px;
    font-weight: 700;
    color: rgb(132, 74, 74);
}

.links {
    display: flex;
    gap: 39px;
        list-style: none;

}

.links a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(42, 37, 37);
    font-weight: 500;
    transition: 0.3s;
}

.links a:hover {
    color: rgb(81, 81, 180);
}

.projects {
    width: 100%;
    padding: 120px 50px 75px;
    text-align: center;
    background-color: #1A1A1A;
    color: white;
    position: relative;
}

.project-title {
    font-size: 49px;
    font-weight: 700;
    margin-bottom: 10px;
}

.project-subtitle {
    font-size: 18px;
    margin-bottom: 60px;
}

.project-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.project-card {
    width: 300px;
    padding: 25px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 18px;
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    text-align: left;
}

.project-label {
    background: rgba(255,255,255,0.2);
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 12px;
}

.project-card h2 {
    font-size: 26px;
    margin: 15px 0;
}

.project-card p {
    line-height: 1.5;
    font-size: 15px;
    margin-bottom: 20px;
}

.tags {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

.tags span {
    background: rgba(255,255,255,0.15);
    padding: 6px 12px;
    font-size: 12px;
    border-radius: 12px;
}

.btn {
    padding: 10px 25px;
    background: transparent;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background:white;
    color: blue;
}

.footer {
    background: black;
    color: white;
    padding: 55px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
}

.footer .name {
    font-size: 26px;
    color: rgb(215, 146, 157);
}

.footer .tagline {
    margin-bottom: 20px;
    color: rgb(214, 79, 79);
}

.info {
    margin: 15px 0;
    color: pink;
}

.contactinfo li,
.connectlinks li,
.quicklinks li {
    margin: 8px 0;
}

.connectlinks a,
.quicklinks a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.connectlinks a:hover,
.quicklinks a:hover {
    color: rgb(80, 80, 138);
}
