* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background:white;
    overflow-x: hidden;
}

nav {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 28px;
    font-weight: 700;
}

.links {
    display: flex;
    list-style: none;
    gap: 40px;
}

.links a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: 0.3s;
}

.links a:hover {
    color: rgb(78, 68, 211);
}

.hero {
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-color: #1A1A1A;
    position: relative;
}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 150px 10%;
    position: relative;
    z-index: 2;
}

.introduction {
    max-width: 600px;
    color: white;
}

.name1 {
    font-size: 55px;
    font-weight: 700;
}

.span {
    color: orangered;
}

.name2 {
    font-size: 25px;
    margin-top: 10px;
}

.name3 {
    font-size: 18px;
    margin-top: 12px;
    line-height: 1.6;
}

.photo-card {
    width: 350px;
    height: 450px;
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.photo-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer {
    background: black;
    color: white;
    padding: 40px 70px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
}

.footer .name {
    font-size: 26px;
    color: rgb(215, 146, 157);
}

.footer .tagline {
    margin-bottom: 20px;
    color: rgb(214, 79, 79);
}

.info {
    margin: 15px 0;
    color: pink;
}

.contactinfo,
.connectlinks,
.quicklinks {
    list-style: none;
    margin-top: 10px;
}

.contactinfo li,
.connectlinks li,
.quicklinks li {
    margin: 8px 0;
}

.connectlinks a,
.quicklinks a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.connectlinks a:hover,
.quicklinks a:hover {
    color: rgb(80, 80, 138);
}
